body{
  background-color: blueviolet;
}
h1{
font: size 900px; ;
color: beige;
text-align: center;
}
img{
width: 500px;
height: 500px;
margin: left 400px;
}
.cabecalho{
  background-color: blueviolet;
  display: flex;

}
.listacabecalho{
display: flex;
margin-left: 760px;px ;
margin-top:100px ;

}
.itemlistacabecalho{
  list-style: nome;
  padding-left: 20px;
  text-transform:  uppercase;
  font-size: 20px;
}
